<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>book</h1>
    <form action="/addbook" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>book_title</th>
                <td><input type="text" name="title"></td>
                
            </tr>
            <tr>
                <th>book_author</th> 
                <td><input type="text" name="author"></td>
               
            </tr>
            <tr>
                <th>book_price</th>
                <td><input type="text" name="price"></td>
                
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="Add Book"></td>
            </tr>
        </table>
    </form>
</body>
</html>