<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> update book</h1>
    <form action="/update/{{book.id}}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>book_title</th>
                <td><input type="text" name="title" value="{{book.title}}"></td>
                
            </tr>
            <tr>
                <th>book_author</th> 
                <td><input type="text" name="author" value="{{book.author}}"></td>
               
            </tr>
            <tr>
                <th>book_price</th>
                <td><input type="text" name="price" value="{{book.price}}"></td>
                
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="update Book"></td>
            </tr>
        </table>
    </form>
</body>
</html>